/* Initialisation */

body{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, sans-serif;
}

/* Menu */



/* Pages */

.bleu{
	color: #37769f;
}

.jumbotron{
	padding-left: 10%;
}

.boutonHome{
	background-color: #37769f;
	height: 50px;
	width: 200px;
	margin-right: 50px;
}

.petit{
	width: 50px !important;
	margin-right: 10px;
}

.sansMarge{
	margin-right: 0px;
}

.gris{
	background-color: #eeeeee;
	padding-bottom: 20px;
}