/* Initialisation */

body{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Verdana, sans-serif;
}

/* Menu */



/* Pages */

.bleu{
	color: #37769f;
}

.cadrebleu{
	background-color: #37769f;
}

.jumbotron{
	padding-left: 10%;
}

.boutonHome{
	background-color: #37769f;
	height: 50px;
	width: 200px;
	margin-right: 50px;
}

.petit{
	width: 50px !important;
	margin-right: 10px;
}

.sansMarge{
	margin-right: 0px;
}

.gris{
	background-color: #eeeeee;
	padding-bottom: 20px;
}

.imgListe{
	height: 100px;
	width: auto;
}

.liste{
	width: 100px;
	margin-right: 0px;
}

.zoneMessages{
	min-height: 200px;
	max-height: 400px;
	overflow: auto;
	width: 80%;
	margin-bottom: 20px;
}

textarea{
	width: 50%;
	height: 100px;
}

.message{
	width: 70%;
	margin: 15px;
	padding: 10px;
}

.messagedroite{
	margin-left: 27%;
}

.imgHeader{
	margin-top: 20px;
}

.btnDiscussion{
	margin-top: 20px;
}

.connectes{
	max-height: 500px;
	overflow: auto;
}